@model IEnumerable<Asp_net_Lab_1.Models.User>
@using Asp_net_Lab_1.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Texts> Localizer

<h2>@Localizer["Автомобільні салони"]</h2>

<p>
    <a asp-action="CreateUser">@Localizer["Додати новий салон"]</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>@Localizer["Назва салону"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["Номер телефону"]</th>
            <th>@Localizer["Адреса"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Address</td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.Id">@Localizer["Редагувати"]</a> |
                    <a asp-action="DeleteUser" asp-route-id="@user.Id">@Localizer["Видалити"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
