@model Asp_net_Lab_1.Models.Order
@using Asp_net_Lab_1.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Texts> Localizer

<h2>@Localizer["Видалення замовлення"]</h2>

<p>@Localizer["Ви впевнені, що хочете видалити це замовлення?"]</p>

<div>
    <h4>@Localizer["Інформація про замовлення"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Localizer["Повна назва:"]</dt>
        <dd class="col-sm-10">@Model.ProductName</dd>

    </dl>

    <form asp-action="DeleteOrder" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value=@Localizer["Підтвердити видалення"] class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">@Localizer["Скасувати"]</a>
        </div>
    </form>
</div>
