@model IEnumerable<Asp_net_Lab_1.Models.Order>
@using Asp_net_Lab_1.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Texts> Localizer

<h2>@Localizer["Замовлення"]</h2>

<p>
    <a asp-action="CreateOrder">@Localizer["Створити нове замовлення"]</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>@Localizer["Замовник"]</th>
            <th>@Localizer["Назва автомобіля"]</th>
            <th>@Localizer["Загальна вартість"]</th>
            <th></th>
        </tr> 
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserId</td>
                <td>@order.ProductName</td>
                <td>@order.TotalPrice</td>
                <td>
                    <a asp-action="EditOrder" asp-route-id="@order.Id">@Localizer["Редагувати"]</a> |
                    <a asp-action="DeleteOrder" asp-route-id="@order.Id">@Localizer["Видалити"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
