@model IEnumerable<Asp_net_Lab_1.Models.Order>

<h2>Замовлення</h2>

<p>
    <a asp-action="CreateOrder">Створити нове замовлення</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Замовник</th>
            <th>Назва товару</th>
            <th>Загальна вартість</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserId</td>
                <td>@order.ProductName</td>
                <td>@order.TotalPrice</td>
                <td>
                    <a asp-action="EditOrder" asp-route-id="@order.Id">Редагувати</a> |
                    <a asp-action="DeleteOrder" asp-route-id="@order.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
