@model IEnumerable<Asp_net_Lab_1.Models.Product>

<h2>Товари</h2>

<p>
    <a asp-action="CreateProd">Створити новий товар</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="EditProd" asp-route-id="@product.Id">Редагувати</a> |
                    <a asp-action="DeleteProd" asp-route-id="@product.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
